.ytpreviewer div, .ytpreviewer ul, .ytpreviewer li {
	padding: 0px;
	margin: 0px;
}

div.ytpreviewer {
	overflow: hidden;
	position: absolute;
	z-index: 1001;
	background-color: #cccccc;
	background-position: center center;
	background-image: url( "chrome-extension://pgkgkklckcefbmdbmbpafcbnlkbjfaej/loading.gif" );
	background-repeat: no-repeat;
}

.ytpreviewer ul {
	list-style-type: none;
}

